<#include "/include/header.html">
<#include "/include/scripts.html">
<#import "/spring.ftl" as spring/>
<html>
<@header></@header>
<body class="gray-bg">
    <div class="wrapper" style="overflow: scroll;">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <form action="/system/role/list/1" method="post" class="form-inline">
                                                <div class="box-header">
                                                    <div class="input-group">
                                                        <@shiro.hasPermission name="addRole">
                                                            <a class="btn btn-info btn-flat dialog" href="javascript:;" data-url="/system/role/add"
                                                               data-title="<@spring.message code='system.role.common.action.createRole'/>">
                                                                <i class="fa fa-plus"></i>
                                                                <@spring.message code='system.role.common.action.createRole'/>
                                                            </a>
                                                        </@shiro.hasPermission>
                                                        <@shiro.hasPermission name="deleteBatchRole">
                                                            <a class="btn btn-danger btn-flat " delete-batch-url="/system/role/deleteBatch">
                                                                <i class="fa fa-remove"></i>
                                                                <@spring.message code='system.role.common.action.batchDeleteRole'/>
                                                            </a>
                                                        </@shiro.hasPermission>
                                                        <div class="input-group">
                                                            <input type="text" name="search" value="${search!}" class="form-control" placeholder="Search" autocomplete="off">
                                                            <button class="btn btn-default btn-flat" type="submit">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                            <a href="/system/role/list/1" class="btn btn-default">
                                                                <i class="fa fa-sync" style="margin-top:6px;"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-hover dataTable dtr-inline">
                                                <tr>
                                                    <th>
                                                        <input value="root" type="checkbox" class="minimal checkbox-toolbar">
                                                        <@spring.message code='system.role.list.rowNo'/>
                                                    </th>
                                                    <th><@spring.message code='system.role.common.roleName'/></th>
                                                    <th><@spring.message code='system.role.common.description'/></th>
                                                    <th><@spring.message code='system.role.common.createTime'/></th>
                                                    <th><@spring.message code='system.role.common.status'/></th>
                                                    <th><@spring.message code='system.role.common.action'/></th>
                                                </tr>
                                                <#list pageData.getRecords() as role>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                <input value="${role.id}" name="roleState" type="checkbox" class="minimal checkbox-item">
                                                                ${((pageData.current-1)*pageData.size +role_index+1)!}
                                                            </label>
                                                        </td>
                                                        <td>${(role.roleName)!}
                                                            <#assign args = ['${(role.roleName)!}']>
                                                            <a class="btn btn-xs dialog"
                                                               data-wdith="800"
                                                               data-title="<@spring.messageArgs 'system.role.list.roleUserList' args/>"
                                                               data-url="/system/role/getUsers?roleId=${role.id}">
                                                                <span>
                                                                    <@spring.message code='system.role.list.viewUser'/>
                                                                </span>
                                                            </a>
                                                        </td>
                                                        <td>${(role.roleDesc)!'--'}</td>
                                                        <td>${(role.createTime?string('yyyy/MM/dd HH:mm:ss'))!'--'}</td>
                                                        <td>
                                                            <#if role.state==1>
                                                                <@spring.message code='system.role.common.status.enabled'/>
                                                            <#else>
                                                                <style='color: red;>
                                                                    <@spring.message code='system.role.common.status.disabled'/>
                                                                </style>
                                                            </#if>
                                                        </td>
                                                        <td>
                                                            <@shiro.hasPermission name="authRole">
                                                                <a class="btn btn-success btn-xs dialog" href="javascript:;"
                                                                   data-url="/system/role/auth/${(role.id)!}" data-title="<@spring.message code='system.role.common.action.authorize'/>"
                                                                   data-toggle="tooltip" title="<@spring.message code='system.role.common.action.authorize'/>"
                                                                   data-placement="bottom"><@spring.message code='system.role.common.action.authorize'/></a>
                                                            </@shiro.hasPermission>
                                                            <@shiro.hasPermission name="editRole">
                                                                <a class="btn btn-primary btn-xs dialog" href="javascript:;"
                                                                   data-url="/system/role/edit/${(role.id)!}" data-title="<@spring.message code='system.role.common.action.edit'/>"
                                                                   data-toggle="tooltip" title="<@spring.message code='system.role.common.action.edit'/>"
                                                                   data-placement="bottom">
                                                                    <@spring.message code='system.role.common.action.edit'/>
                                                                </a>
                                                            </@shiro.hasPermission>
                                                            <@shiro.hasPermission name="deleteRole">
                                                                <a class="btn btn-danger btn-xs" data-toggle="tooltip"
                                                                   title="<@spring.message code='system.role.common.action.delete'/>" data-placement="bottom"
                                                                   data-tiggle="ajax"
                                                                   data-submit-url="/system/role/delete?id=${(role.id)!}"
                                                                   data-confirm="<@spring.message code='system.common.message.delete'/>">
                                                                    <@spring.message code='system.role.common.action.delete'/>
                                                                </a>
                                                            </@shiro.hasPermission>
                                                        </td>
                                                    </tr>
                                                </#list>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <#include "/include/paginateBar.html" />
                                            <@paginate pageData=pageData actionUrl="/system/role/list/" urlParas="?search=${search!}&daterange=${daterange!}"/>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <#include "/include/paginate.html" />
                                            <@paginate currentPage=pageData.getCurrent() totalCount=pageData.getTotal() sizeNum=pageData.getSize()
                                            actionUrl="/system/role/list/" urlParas="?search=${search!}&pageSize=${pageSize!}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<@scripts "/${rootContext}/app/js/main.js"></@scripts>
</html>