<#include "/include/layout_ff.html">
<#import "/spring.ftl" as spring/>
<@header></@header>
<body>
<section class="content">
    <div class="container-fluid">
        <div class="card-body"/>
            <table class="table table-bordered table-hover dataTable dtr-inline">
            <tr>
             <th>
                 <@spring.message code='system.user.common.userName'/>
             </th>
             <th>
                 <@spring.message code='system.user.common.description'/>
             </th>
             <th>
                 <@spring.message code='system.user.list.creationTime'/>
             </th>
             <th>
                 <@spring.message code='system.user.common.status'/>
             </th>
            </tr>
                <#list users as user>
                    <tr>
                        <td>${(user.userName)!}</td>
                        <td>${(user.remark)!'--'}</td>
                        <td>${(user.createTime?string('yyyy/MM/dd HH:mm:ss'))!}</td>
                        <td>
                            <#if user.status=='0'>
                                <@spring.message code='system.role.common.status.enabled'/>
                            <#else>
                                <style="color: red">
                                    <@spring.message code='system.role.common.status.disabled'/>
                                </style>
                            </#if>
                        </td>
                    </tr>
                </#list>
            </table>
        </div>
    </div>
</section>
</body>
