<#include "/include/header.html">
<#include "/include/scripts.html">
<html>
<@header></@header>
<body class="hold-transition login-page"
      style="background-image: url('/${rootContext}/img/background.jpg'); background-size: 100%;">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <h3 class="mb-3 text-center">欢迎使用</h3>
                <form class="layui-form">
                    <div class="row mb-3 layui-form-item">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" name="username" id="username" class="form-control" required
                                       lay-verify="required" placeholder="请输入用户名" autocomplete="off">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 layui-form-item">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="password" name="password" id="password" class="form-control" required lay-verify="required" placeholder="请输入密码" autocomplete="off">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 layui-form-item">
                        <div class="col-8">
                            <div class="input-group">
                                <input type="text" name="validateCode" id="validateCode" class="form-control" placeholder="验证码" maxlength="5" autocomplete="off"/>
                                <div class="input-group-append">
                                    <div class="input-group-text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <a class="captchaZone" href="javascript:void(0);">
                                <img src="/captcha/image" style="height: 40px;"/>
                            </a>
                        </div>
                    </div>
                    <div class="row mb-3 layui-form-item">
                        <div class="col-12">
                            <div class="icheck-primary">
                                <input type="checkbox" id="rememberMe" lay-ignore name="rememberMe"></input>
                                <label for="rememberMe">记住我</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 layui-form-item">
                        <div class="col-12">
                            <button class="btn btn-primary btn-block layui-btn" lay-submit lay-filter="login" name="login" id="login">登录
                            </button>
                        </div>
                    </div>
                    <p class="mb-0">
                        没有账号？<a href="/register" class="text-center">去注册</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/${rootContext}/plugins/requirejs/require.js"></script>
<script>
    require.config({
        baseUrl: '/' + window.staticContextPath + '/',
        paths: {
            jquery: "plugins/jquery/jquery.min",
            layui: "plugins/layui/layui",
        },
        shim: {
            layui: {
                exports: "layui"
            },
        }
    });

    require(['jquery', "layui"], function ($) {
        layui.use(['form', 'jquery'], function () {
            let form = layui.form, layer = layui.layer, $ = layui.jquery;

            //监听提交
            form.on('submit(login)', function (data) {
                let $1 = $.trim($("#username").val());
                let $2 = $.trim($("#password").val());
                let $3 = $.trim($("#validateCode").val());

                let $4 = false;
                if($("#rememberMe").is(":checked")){
                    $4 = true;
                }

                $.ajax({
                    url: '/login',
                    type: 'post',
                    data: {"username": $1, "password": $2, "validateCode": $3, "rememberMe": $4},
                    success: function (data) {
                        if (data.code == 200) {
                            window.parent.frames.location.href = "/";
                        } else if (data.code == 201) {
                            layer.msg(data.msg);
                            $(".captchaZone img").attr("src", "/captcha/image?t=" + new Date().getTime());
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });

                return false;
            });
        });

        $(".captchaZone img").click(function () {
            $(this).attr("src", "/captcha/image?t=" + new Date().getTime());
        });
    });
</script>
</html>
