<#include "/include/layout_ff.html">
<#import "/spring.ftl" as spring/>
<@header></@header>
<body>
<section class="content">
    <div class="container-fluid">
        <div class="card-body"/>
            <form action="/system/dept/doAdd" class="form-horizontal layui-form layui-form-pane" method="post" role="form">
                <div class="box-body">
                    <div class="form-group">
                        <div style="display:flex;">
                            <label class="col-sm-3 control-label text-right mt-2" for="deptName"><@spring.message code='system.department.common.departmentName'/>:</label>
                            <div class="col-sm-9">
                                <input check-url="/system/dept/checkDept" class="form-control" id="deptName" lay-verify="required|deptName|check" name="deptName" placeholder="<@spring.message code='system.department.placeholder.department'/>" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display:flex;">
                            <label class="col-sm-3 control-label text-right mt-2"><@spring.message code='system.department.common.description'/>:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="deptDesc" placeholder="<@spring.message code='system.common.placeholder.description'/>" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display:flex;">
                            <div class="col-sm-3">
                                &nbsp;
                            </div>
                            <div class="col-sm-9">
                                <button type="button" name="save" class="btn btn-success" lay-submit lay-filter="submit">
                                    <i class="fa fa-save"></i>
                                    <@spring.message code='system.common.action.submit'/>
                                </button>
                                <a class="btn btn-default" href="javascript:parent.layer.closeAll('iframe');">
                                    <i class="fa fa-angle-left"></i>
                                    <@spring.message code='system.common.action.cancel'/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<@scripts "/${rootContext}/app/js/main.js"></@scripts>
</body>