<#include "/include/header.html">
<#include "/include/scripts.html">
<#import "/spring.ftl" as spring/>
<html>
<@header></@header>
<body class="gray-bg">
    <div class="wrapper" style="overflow: scroll;">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <form action="/system/dept/list/1" method="post" class="form-inline">
                                                <div class="box-header">
                                                    <div class="input-group">
                                                        <@shiro.hasPermission name="addDept">
                                                            <a class="btn btn-info btn-flat dialog" href="javascript:;" data-title="<@spring.message code='system.department.common.action.createDepartment'/>"
                                                               data-url="/system/dept/add" data-width="650" data-height="300"><i class="fa fa-plus"></i><@spring.message code='system.department.common.action.createDepartment'/></a>
                                                        </@shiro.hasPermission>
                                                        <input type="text" name="search" value="${search!}" class="form-control" placeholder="<@spring.message code='system.department.placeholder.search'/>">
                                                        <div class="input-group">
                                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                                            <a href="/system/dept/list/1" class="btn btn-default"><i class="fa fa-sync" style="margin-top:6px;"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-hover dataTable dtr-inline">
                                                <tr>
                                                    <th><@spring.message code='system.department.list.rowNo'/></th>
                                                    <th><@spring.message code='system.department.common.departmentName'/></th>
                                                    <th><@spring.message code='system.department.common.description'/></th>
                                                    <th><@spring.message code='system.department.common.action'/></th>
                                                </tr>
                                                <#list pageData.getRecords() as dept>
                                                    <tr>
                                                        <td>${((pageData.current-1)*pageData.size +dept_index+1)!}</td>
                                                        <td>${(dept.deptName)!}</td>
                                                        <td>${(dept.deptDesc)!'--'}</td>
                                                        <td>
                                                            <@shiro.hasPermission name="editDept">
                                                                <a class="btn btn-primary btn-xs dialog" data-title="<@spring.message code='system.department.common.action.editDepartment'/>" data-url="/system/dept/edit/${(dept.id)!}" data-width="650" data-height="300">
                                                                    <i class="fa fa-pencil-square-o"></i><@spring.message code='system.department.common.action.edit'/>
                                                                </a>
                                                            </@shiro.hasPermission>
                                                            <@shiro.hasPermission name="deleteDept">
                                                                <a class="btn btn-danger btn-xs" data-tiggle="ajax" data-submit-url="/system/dept/delete?id=${(dept.id)!}"
                                                                   data-confirm="<@spring.message code='system.department.list.message.deleteUser'/>"><i class="fa fa-times"></i><@spring.message code='system.department.common.action.delete'/></a>
                                                            </@shiro.hasPermission>
                                                        </td>
                                                    </tr>
                                                </#list>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <#include "/include/paginateBar.html"/>
                                            <@paginate pageData=pageData actionUrl="/system/dept/list/" urlParas="?search=${search!}" />
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <#include "/include/paginate.html"/>
                                            <@paginate currentPage=pageData.getCurrent() totalCount=pageData.getTotal() sizeNum=pageData.getSize()
                                            actionUrl="/system/dept/list/" urlParas="?search=${search!}&pageSize=${pageSize!}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<@scripts "/${rootContext}/app/js/main.js"></@scripts>
</html>