<#include "/include/layout_ff.html">
<#import "/spring.ftl" as spring/>
<@header></@header>
<body>
<section class="content">
    <div class="container-fluid">
        <div class="card-body"/>
        <form class="form-horizontal layui-form layui-form-pane" method="post" action="/system/user/doEdit">
            <div class="form-group">
                <div style="display:flex;">
                    <label for="uname" class="col-sm-3 control-label text-right mt-2"><@spring.message code='system.user.common.userName'/>:</label>
                    <input type="hidden" value="${userInfo.id}" name="id">
                    <div class="col-sm-9">
                        <input type="text" id="uname" name="userName" value="${(userInfo.userName)!}" class="form-control" placeholder="<@spring.message code='system.user.placeholder.username'/>" lay-verify="required|username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="display:flex;">
                    <label class="col-sm-3 control-label text-right mt-2"><@spring.message code='system.user.common.department'/>:</label>
                    <div class="col-sm-9">
                        <select name="deptId" class="form-control select2" style="width: 100%;" lay-verify="required" lay-ignore>
                            <#list deptList as dept>
                                <option value="${(dept.id)!}" ${(userInfo.deptId?? && dept.id==userInfo.deptId)?string('selected="selected"','')}>${(dept.deptName)!}
                                </option>
                            </#list>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="display:flex;">
                    <label class="col-sm-3 control-label text-right mt-2"><@spring.message code='system.user.common.description'/>:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="userDesc" rows="3" placeholder="<@spring.message code='system.user.placeholder.description'/>">${(userInfo.remark)!}</textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="display:flex;">
                    <label class="col-sm-3 control-label text-right mt-2"><@spring.message code='system.user.common.status'/>:</label>
                    <div class="col-sm-9" style="padding-top:7px">
                        <label>
                            <input name="status" type="radio" class="minimal" ${(userInfo.status== "1")?string('checked','')} value="1" lay-ignore>
                            <@spring.message code='system.user.common.status.enable'/>
                        </label>
                        <label>
                            <input name="status" type="radio" class="minimal" ${(userInfo.status== "0")?string('checked','')} value="0" lay-ignore>
                            <@spring.message code='system.user.common.status.disable'/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="display:flex;">
                    <label class="col-sm-3 control-label text-right mt-2"><@spring.message code='system.user.common.role'/>:</label>
                    <div class="col-sm-9" style="padding-top:7px">
                        <#list roles as role>
                            <label>
                                <input type="checkbox" name="roleId" class="minimal" ${(myRoles?contains('${role.id?c}')?string('checked',''))} value="${(role.id)!}" lay-ignore>
                                ${(role.roleName)!}
                            </label>
                        </#list>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div style="display:flex;">
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                    <div class="col-sm-9">
                        <button type="button" name="save" class="btn btn-success" lay-submit lay-filter="submit">
                            <i class="fa fa-save"></i>
                            <@spring.message code='system.user.common.action.submit'/></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</section>
<@scripts "/${rootContext}/app/js/main.js"></@scripts>
</body>