<#include "/include/layout_ff.html">
<html>
<@header></@header>
    <body class="gray-bg">
        <div class="wrapper" style="overflow: scroll;">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">个人资料</h3>
                                    <div class="card-tools mt-2">
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body box-profile">
                                    <div style="border-bottom: 1px solid #f5f5f5;">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle" src="/static/img/default.png" alt="用户头像">
                                        </div>
                                        <h3 class="profile-username text-center">${(userInfo.nickName)!}</h3>
                                    </div>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item-action mt-2 mb-2">
                                            <i class="fa fa-user"></i>
                                            <b class="font-noraml">登录名称：</b>
                                            <p class="float-right">${(userInfo.userName)!}</p>
                                        </li>
                                        <li class="list-group-item-action mt-2 mb-2">
                                            <i class="fa fa-phone"></i>
                                            <b class="font-noraml">手机号码：</b>
                                            <p class="float-right">${(userInfo.phone)!}</p>
                                        </li>
                                        <li class="list-group-item-action mt-2 mb-2">
                                            <i class="fa fa-envelope"></i>
                                            <b class="font-noraml">邮箱地址：</b>
                                            <p class="float-right" title="${(userInfo.email)!}">${(userInfo.email)!}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-indigo">
                                <div class="card-header">
                                    <h3 class="card-title">资料修改</h3>
                                    <div class="card-tools mt-2">
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link active" href="#profile" data-toggle="tab">基本资料</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#resetPassword" data-toggle="tab">重置密码</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="profile">
                                            <form class="form-horizontal layui-form" novalidate="novalidate" onsubmit="return false;">
                                                <input name="id" id="id" type="hidden" value="${(userInfo.id)!}">
                                                <div class="form-group row d-flex align-items-center">
                                                    <label class="col-sm-2 control-label text-right">昵称：</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="userName" placeholder="请输入用户名称" id="nickName" value="${(userInfo.nickName)!}">
                                                    </div>
                                                </div>
                                                <div class="form-group row d-flex align-items-center">
                                                    <label class="col-sm-2 control-label text-right">手机：</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="phonenumber" maxlength="11" placeholder="请输入手机号码" id="phone" value="${(userInfo.phone)!}">
                                                    </div>
                                                </div>
                                                <div class="form-group row d-flex align-items-center">
                                                    <label class="col-sm-2 control-label text-right">邮箱：</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" maxlength="50" class="form-control" name="email" placeholder="请输入邮箱" id="email" value="${(userInfo.email)!}">
                                                    </div>
                                                </div>
                                                <div class="form-group row d-flex align-items-center">
                                                    <label class="col-sm-2 control-label text-right ">性别：</label>
                                                    <div class="col-sm-10">
                                                        <div class="row">
                                                            <div class="icheck-blue ml-2 mr-2">
                                                                <input type="radio" id="gender1" name="gender" lay-ignore <#if userInfo.gender == 0>checked<#else></#if> value="0">
                                                                <label for="gender1">男</label>
                                                            </div>
                                                            <div class="icheck-danger ml-2 mr-2">
                                                                <input type="radio" id="gender2" name="gender" lay-ignore <#if userInfo.gender == 1>checked<#else></#if> value="1">
                                                                <label for="gender2">女</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row d-flex align-items-center">
                                                    <div class="col-sm-2">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <button type="button" class="btn btn-sm btn-danger" lay-submit lay-filter="saveProfile" name="saveProfile" id="saveProfile">
                                                            <i class="fa fa-save"></i>保 存
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="resetPassword">
                                            <form class="form-horizontal layui-form" novalidate="novalidate" onsubmit="return false;">
                                                <div class="form-group row d-flex align-items-center">
                                                    <label class="col-sm-2 control-label text-right">旧密码：</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" name="oldPassword" id="oldPassword" required lay-verify="required|password" placeholder="请输入旧密码">
                                                    </div>
                                                </div>
                                                <div class="form-group row d-flex align-items-center">
                                                    <label class="col-sm-2 control-label text-right">新密码：</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" name="newPassword" id="password" required lay-verify="required|password" placeholder="请输入新密码">
                                                    </div>
                                                </div>
                                                <div class="form-group row d-flex align-items-center">
                                                    <label class="col-sm-2 control-label text-right">确认密码：</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required lay-verify="required|pwdEquals" placeholder="请确认密码">
                                                    </div>
                                                </div>
                                                <div class="form-group row d-flex align-items-center">
                                                    <div class="col-sm-2">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <button type="button" class="btn btn-sm btn-danger" lay-submit lay-filter="resetPassword" name="resetPassword" id="resetPassword">
                                                        <i class="fa fa-save"></i>保 存
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <@scripts "/${rootContext}/app/js/main.js"></@scripts>
</html>